body {
    margin: 0;
    padding: 0;
  }

#container1{
    background-image: url("assets/backgrounds/FONDO_PARTE_ARRIBA.png");
}

/* #Nosotros{
    background-image: url("assets/imagenes/RECUADRO_NOSOTROS.png");
    background-size: cover;
} */

#NosotrosStyle{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(19,24,30,0) 52%, rgba(255,255,255,1) 100%);
    max-width: 1700px;
}

#container2{
    background-image: url("assets/backgrounds/FONDO_PARTE_ABAJO.png");
}

#container3{
    background-color: #000B28;
    display: flex;
    height: 15vh;
}

#Aviso{
    font-size: 25px;
    background-color: #0e6b6c;
    color: white;
    width: 100%;
    height: 8vh;
}

#footer{
    font-size: 25px;
    color: white;
    height: 8vh;
    background-color: black;
}

#Fstyle{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(19,24,30,0) 88%, rgba(255,255,255,0.7231267507002801) 100%);
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    color: white;
    text-decoration: solid;
}



.btn_inicio{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(19,24,30,0) 52%, rgba(255,255,255,1) 100%);
}