.imgbackground{
    background-image: url("assets/backgrounds/FONDO_PARTE_ARRIBA.png");
}

/* MEDIAQUERYS */
@media (max-width: 600px) {

    .copyright {
        font-size: 16px;
    }

    #Fstyle {
        font-size: 14px;
    }
}